<div id='tab_blog' class='tab'>
  <% @unapproved_comments.keys.each do |author| %>
    <div class='comments-wrapper'>
      <h2><%= author %></h2>

      <div class='comments-column'>
        <% @unapproved_comments[author].each do |c| %>
          <div class='comment <%= c.is_admin_comment ? 'admin' : ''%>'>
            <h3>By <em><%= c.author %></em> on <%= c.formatted_date %></h3>

            <div class='comment-content'>
              <%= render inline: simple_format(c.content) %>
              <br/>
            </div>
            <input class='btn-approve-comment' type='button' value='Approve' onclick="location.href='<%= c.approval_url %>'"/>
            <input class='btn-delete-comment' type='button' value='Delete' onclick="location.href='<%= c.deletion_url %>'"/>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>