<section class='post simple comment-confirmation'>

  <h1>Thanks!</h1>
  <p>Your comment has been submitted for approval</p>

  <section class='comment'>
    <div class="comment <%= comment.is_admin_comment ? 'admin' : '' %>">
      <div class='comment-header'>
        Written by <em><%= comment.author %></em> on <%= comment.formatted_date %>
      </div>
      <div class='comment-content'>
        <%= simple_format(comment.content) %>
      </div>
    </div>
  </section>

  <%= link_to "Return to Post", post.post_url %>
</section>