<article class='post'>

  <section class='post-area'>

    <div class='post-header'>
      <% if post.banner_image %>
        <%= image_tag post.banner_image, class: 'blog-banner' %>
      <% end %>

      <hgroup>
        <h1><%= link_to post.title, post.post_url %></h1>
        <h2><%= link_to post.subtitle, post.post_url %></h2>
      </hgroup>
    </div>

    <div class='post-metadata'>
      <ul>
        <li>By <%= link_to post.author, post.author_url %> on <span class='date'><%= post.formatted_date %></span></li>
        <% if post.blog_post_comments.length > 0 %>
          <li>|</li>
          <li><%= link_to "#{post.blog_post_comments.length} Comment(s)", post.post_url + '#comments' %></li>
        <% end %>
      </ul>
    </div>

    <div class='post-body'>
      <%= render inline: post.body %>
    </div>

  </section>

  <% unless hide_comments %>

    <section id='comments' class='comments'>
      <h1>Discussion</h1>
      <% if post.blog_post_comments.length == 0 %>
        <span class='no-comments'>There are currently no comments.</span>
      <% end %>
      <% post.top_level_comments.each do |comment| %>
        <%= render template: 'blog/comment', locals: {
            depth: 1,
            post: post,
            comment: comment,
            respond_to_id: defined?(respond_to_id) ? respond_to_id : nil
        } %>
      <% end %>
    </section>

    <section class='create-comment'>
      <h1>Contribute to this Article</h1>
      <%= render template: 'blog/create_comment', locals: {post: post, respond_to_id: nil} %>
    </section>

  <% else %>

    <section class='comments view-comments'>
      <% if post.blog_post_comments.length > 0 %>
        <%= link_to "View Comments (#{post.blog_post_comments.length}) or Contribute to this Article \u2192", post.post_url + '#comments' %>
      <% else %>
        <%= link_to "Contribute to this Article \u2192", post.post_url + '#comments' %>
      <% end %>
    </section>

  <% end %>

</article>
