<article class='post'>

  <section class='post-area'>

    <div class='post-header'>
      <% if post.banner_image %>
        <%= image_tag post.banner_image, class: 'blog-banner' %>
      <% end %>

      <hgroup>
        <h1><%= link_to post.title, post.post_url %></h1>

        <h2><%= link_to post.subtitle, post.post_url %></h2>
      </hgroup>
    </div>

    <div class='post-metadata'>
      By <%= link_to post.author, post.author_url %>
      on <span class='date'><%= post.formatted_date %></span>
    </div>

    <div class='post-body'>
      <%= render inline: post.body %>
    </div>

  </section>

  <% unless hide_comments %>
    <section class='comments'>
      <h1>Discussion</h1>
      <% if post.blog_post_comments.length == 0 %>
        <p>There are currently no comments.</p>
      <% end %>
      <% post.top_level_comments.each do |comment| %>
        <% if comment.approved %>
          <%= render template: 'blog/comment', locals: {
              depth: 1,
              post: post,
              comment: comment,
              respond_to_id: defined?(respond_to_id) ? respond_to_id : nil
          } %>
        <% end %>
      <% end %>
    </section>
  <% end %>

  <section class='create-comment'>
    <% if hide_comments %>
      <input class='btn-view-comments' value="<%= "View Comments \u2192" %>" onclick="document.location='<%= post.post_url %>'"/>
    <% else %>
      <h1>Contribute to this Article</h1>
      <%= render template: 'blog/create_comment', locals: {post: post, respond_to_id: nil} %>
    <% end %>
  </section>

</article>
