<html lang="en">

  <head>
    <%= render 'partials/head_common' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body class="transition-preload" id="<%= params[:controller].parameterize %>_controller">

    <div id="js-loading-overlay" class="loading-overlay"></div>

    <%= render 'partials/header' %>

    <%= yield %>

  </body>

</html>